.hover-container span {
  opacity: 0;
  /* display: none; */
  transition: opacity 0.3s ease;
}
.hover-container:hover span {
  /* display: inline; */
  opacity: 1;
  background-color: rgb(65, 64, 64);
}
.hover-container:hover li {
  background-color: rgb(85, 85, 85);
}
.hover-container:focus li {
  background-color: #6950f3;
}
.ant-layout-sider {
  max-width: 0 !important;
  min-width: 60px !important;
}
